*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.promotion-wrapper{
    gap: 40px;
    display: flex;
    margin-top: 140px;
    align-items: center;
    flex-direction: column;
}
.promotion-heading{
    text-align: center;
}
.promotion-heading h3{
    color: black;
    font: 700 40px/40px sans-serif !important;
}
.promotion-heading p{
    color: black;
    font: 400 20px/40px sans-serif;
}
.promotion-banner{
    gap: 70px;
    display: flex;
}
.promotion-banner figure img{
    width: 350px;
}

.promotion-brokers{
    gap: 60px;
    display: flex;
}

.promotion-brokers figure img{
    width: 160px;
}
.trip-details{
    /* width: 100%; */
    /* display: flex; */
    background-color: #f8f8ef;

}
.trip-description{
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.trip-description h4{
    font: 500 30px/55px sans-serif;
    color: black;
}
.trip-description p{
    font: 400 20px/28px sans-serif;
    color: black;
}
.trip-description ul{
    margin: 25px 0 0 0;
    padding: 30px;
    padding-top: 20px;
}
.trip-description li{
    list-style-type: disc;
}
.trip-details figure{
    /* width: 50%; */
    /* padding: 30px; */
}
.parent-list{
    list-style-type: decimal-leading-zero;
}
.parent-list ul{
    margin: 0;
}
li{
    font: 400 15px/28px sans-serif;
    color: black;
}
.promotion-details{
    padding-top: 20px;
}
.promotion-terms{
    text-align: center;
}
.promotion-rules li h3{
    font-size: 18px;
    font-weight: 500;
}
.promotion-steps h4{
    background-color:rgba(141, 4, 4, 0.924) ;
    border-radius: 50%;
    width: 40px;
    height: 33px;
    color: white;
    font-weight: 600;
    text-align: center;
    min-width: 40px;
}

@media screen and (max-width:480px){
    .promotion-brokers{
        gap: 30px;
        display: flex;
    }
}
