.home-slider .control-dots {
    display: none !important;
}

.active{
    display: block !important;
}
.invalid-feedback {
    margin-bottom: 0px;
}

.form-select .search-wrapper{
    border: none !important;
}

.center-slide-items{
    justify-content: center !important;
}

.promtion-slide img {
    height: 330px !important;
}

.content-reasons .icon img {
    width: 50px !important;
    margin-bottom: 12px;
}

.carousel .slide {
    text-align: left !important;
}

.ql-container {
    border: 0px !important;
}
.ql-toolbar {
    border: 0px !important;
}
.news-block-one .inner-box .lower-content p{
    border-bottom: 0px;
}

.content-body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp: N; */
    line-height: 1.3;
    max-height: 87px !important;
}
.react-multi-carousel-list{
    height: 550px;
}
.acc-content ul li {
    list-style: circle !important;
}

.text-box{
    text-align: justify !important;
}

p {
    text-align: justify !important;

}
