.home-slider .control-dots {
    display: none !important;
}

.active{
    display: block !important;
}
.invalid-feedback {
    margin-bottom: 0px;
}

.form-select .search-wrapper{
    border: none !important;
}

.center-slide-items{
    justify-content: center !important;
}

.promtion-slide img {
    height: 330px !important;
}
