.head-title{
    font-size: 48px;
    font-weight: 600;
}
.highlight{
    color: #cca450;
}
.bolder{
    font-weight: 700;
}
.features{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 40px;
}
